<h1>Posts</h1>
<hr>
  <div>
  <% @posts.each do |post| %>
    <p>
      <h2><%= post.title %></h2>
      <br>
      <%= strip_tags(post.body.to_s.truncate(300)) %>
      <hr>
    </p>
  <% end %>
  </div>
<br>
